
/* Typography per Cake Branding */
@font-face {
  font-family: 'BrixSansExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-ExtraLight.eot");
  src: url("../assets/fonts/BrixSans-ExtraLight.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-ExtraLight.woff2") format("woff2"),
  url("../assets/fonts/BrixSans-ExtraLight.woff") format("woff"),
  url("../assets/fonts/BrixSans-ExtraLight.ttf")  format("truetype");
}

@font-face {
  font-family: 'BrixSansLight';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-Light.eot");
  src: url("../assets/fonts/BrixSans-Light.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-Light.woff2") format("woff2"),
  url("../assets/fonts/BrixSans-Light.woff") format("woff"),
  url("../assets/fonts/BrixSans-Light.ttf")  format("truetype");
}

@font-face {
  font-family: 'BrixSansLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-Light-Italic.eot");
  src: url("../assets/fonts/BrixSans-Light-Italic.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-Light-Italic.woff2") format("woff2"),
  url("../assets/fonts/BrixSans-Light-Italic.woff") format("woff"),
  url("../assets/fonts/BrixSans-Light-Italic.ttf")  format("truetype");
}

@font-face {
  font-family: 'BrixSansMedium';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-Medium.eot");
  src: url("../assets/fonts/BrixSans-Medium.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-Medium.woff2") format("woff2"),
  url("../assets/fonts/BrixSans-Medium.woff") format("woff"),
  url("../assets/fonts/BrixSans-Medium.ttf")  format("truetype");
}

@font-face {
  font-family: 'BrixSansBold';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-Bold.eot");
  src: url("../assets/fonts/BrixSans-Bold.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-Bold.woff") format("woff"),
  url("../assets/fonts/BrixSans-Bold.ttf")  format("truetype");
}

@font-face {
  font-family: 'BrixSansRegular';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/BrixSans-Regular.eot");
  src: url("../assets/fonts/BrixSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/BrixSans-Regular.woff2") format("woff2"),
  url("../assets/fonts/BrixSans-Regular.woff") format("woff"),
  url("../assets/fonts/BrixSans-Regular.ttf")  format("truetype");
}

@font-face {
  font-family: 'DuplicateSlabLight';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/DuplicateSlab-Light.eot");
  src: url("../assets/fonts/DuplicateSlab-Light.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/DuplicateSlab-Light.woff") format("woff"),
  url("../assets/fonts/DuplicateSlab-Light.ttf")  format("truetype"),
  url("../assets/fonts/DuplicateSlab-Light.svg#DuplicateSlabLight") format("svg");
}

@font-face {
  font-family: 'DuplicateSlabLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/DuplicateSlab-Light-Italic.eot");
  src: url("../assets/fonts/DuplicateSlab-Light-Italic.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/DuplicateSlab-Light-Italic.woff") format("woff"),
  url("../assets/fonts/DuplicateSlab-Light-Italic.ttf")  format("truetype"),
  url("../assets/fonts/DuplicateSlab-Light-Italic.svg#DuplicateSlabLightItalic") format("svg");
}

@font-face {
  font-family: 'DuplicateSlabRegular';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/DuplicateSlab-Regular.eot");
  src: url("../assets/fonts/DuplicateSlab-Regular.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/DuplicateSlab-Regular.woff") format("woff"),
  url("../assets/fonts/DuplicateSlab-Regular.ttf")  format("truetype"),
  url("../assets/fonts/DuplicateSlab-Regular.svg#DuplicateSlabRegular") format("svg");
}

@font-face {
  font-family: 'DuplicateSlabRegularItalic';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/DuplicateSlab-Regular-Italic.eot");
  src: url("../assets/fonts/DuplicateSlab-Regular-Italic.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/DuplicateSlab-Regular-Italic.woff") format("woff"),
  url("../assets/fonts/DuplicateSlab-Regular-Italic.ttf")  format("truetype"),
  url("../assets/fonts/DuplicateSlab-Regular-Italic.svg#DuplicateSlabRegularItalic") format("svg");
}

@font-face {
  font-family: 'DuplicateSlabThin';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/DuplicateSlab-Thin.eot");
  src: url("../assets/fonts/DuplicateSlab-Thin.eot?#iefix") format("embedded-opentype"),
  url("../assets/fonts/DuplicateSlab-Thin.woff") format("woff"),
  url("../assets/fonts/DuplicateSlab-Thin.ttf")  format("truetype"),
  url("../assets/fonts/DuplicateSlab-Thin.svg#DuplicateSlabThin") format("svg");
}
