.ReactModal__Body--open {
  overflow-y: hidden;
}

@media (max-width: 767px) {
  .ReactModal__Body--open .appContainer {
    -webkit-overflow-scrolling: auto !important;
  }
}

.ReactModal__Overlay {
  background-color: gray;
  z-index: 999;
}


/* ReactModal Defaults */

.ProductModal,
.LoginModal,
.DonationModal,
.RemoveCardModal {
  position: absolute;
  top: 3rem;
  left: 30%;
  right: 30%;
  bottom: 3rem;
  background: #F7F7F7;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
}

.ProductModal .OverlayBtn {
  margin-top: -86px;
}

.ProductModal .backArrowIcon {
  fill: #A8A7A4;
}

.LoginModal {
  background: #fff;
  bottom: auto;
  left: 30%;
  right: 30%;
  min-height: 350px;
}

.DonationModal {
  background: #fff;
  bottom: auto;
  left: 24%;
  right: 24%;
  min-height: 350px;
}

.RemoveCardModal {
  background: #fff;
  bottom: auto;
}

@media screen and (max-width: 1450px) {
  .DonationModal {
    right: 18%;
    left: 18%;
  }
}

@media screen and (max-width: 1200px) {
  .ProductModal {
    right: 27%;
    left: 27%;
  }
  .LoginModal,
  .RemoveCardModal {
    right: 27%;
    left: 27%;
  }
  .DonationModal {
    right: 12%;
    left: 12%;
  }
}

@media screen and (max-width: 992px) {
  .ProductModal,
  .LoginModal,
  .RemoveCardModal {
    right: 15%;
    left: 15%;
  }
  .DonationModal {
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .ProductModal {
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
  }
  .LoginModal,
  .RemoveCardModal {
    right: 10%;
    left: 10%;
  }
  .DonationModal {
    right: 0;
    left: 0;
  }
  .ProductModal .OverlayBtn {
    position: fixed;
    background: transparent;
    bottom: 0rem;
    margin-top: auto;
  }
  .ProductModal .OverlayBtn {
    right: 1%;
  }
  .ProductModal {
    animation: slideUp 0.5s ease-out;
  }
  .mobileCartExpanded {
    animation: slideUp 0.5s ease-out;
  }
}

@media screen and (max-width: 480px) {
  .ProductModal {
    right: 0;
    left: 0;
  }
  .LoginModal,
  .RemoveCardModal,
  .DonationModal {
    right: 3%;
    left: 3%;
    top: 5%;
  }
  .ProductModal .OverlayBtn {
    position: fixed;
    background: transparent;
    bottom: 0rem;
    margin-top: auto;
  }
  .ProductModal .OverlayBtn {
    right: 10px;
  }
}

@-webkit-keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 1;
  }
}

@-moz-keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 1;
  }
}

@-o-keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 1;
  }
}

@keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 1;
  }
}

@-ms-keyframes slideUp {
  0% {
    top: 100vh;
  }
  100% {
    top: 1;
  }
}


/* ReactModal Defaults */
