.searchContainer {
  padding-left: 0px;
  padding-right: 0px;
  overflow-x: hidden;
}

.searchContainer .textInput {
  margin-bottom: 0px;
  display: inline;
}

.cakeLogo {
  margin-left: 15px;
}

.switchViewIcon {
  display: none;
}

.searchResultButton {
  display: inline-block;
}


/* .profileIcon {
  float: right;
  margin-right: 32px;
  margin-top: 10px;
}

.profileIcon svg {
  width: 20px;
} */

.profileMenu {
  position: relative;
  width: 200px;
  text-align: left;
  height: 54px;
}

.profileMenu .Select-control {
  background-color: transparent;
  border: 0px;
  height: 54px;
  color: #5f5f5f;
}

.profileMenu .Select-arrow-zone {
  display: none;
}

.autocomplete-dropdown-container {
  text-align: left;
  position: absolute;
  width: 100%;
  z-index: 5;
}

.searchHome .searchInputWrapper {
  position: relative;
}

.suggestion-item,
.suggestion-item--active,
.loadingIndicator {
  padding: 18px 8px;
  font-family: "BrixSansLight";
  color: #363532;
  font-size: 0.875rem;
}

.loadingIndicator {
  background-color: #fff;
}

.searchResults .location-search-input {
  width: 216px;
  height: 30px;
  font-size: 0.813rem;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.searchResults .autocomplete-dropdown-container {
  width: 216px;
  border: 1px solid rgb(209, 204, 198, 0.5);
  border-top-width: 0px;
}

.searchResults .searchInputWrapper {
  width: 72%;
}

.searchResults .searchPlaceholder {
  top: 61px;
  font-size: 0.875rem;
  padding-left: 21px;
  position: absolute;
  width: 70px;
  left: 0px;
}

.mapMarker {
  border: 2px solid #fff;
  background-color: #F2700F;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  font-size: 9px;
  font-family: "BrixSansLight";
  color: #fff;
  padding-top: 2px;
  z-index: -1;
  -webkit-box-shadow: 0px 2px 35px -8px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 2px 35px -8px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 2px 35px -8px rgba(0, 0, 0, 0.46);
}

.mapPointerTop {
  content: ' ';
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 11px solid rgb(216, 215, 211);
  width: 0px;
  height: 0px;
  z-index: 9999;
}

.mapPointerTop:after {
  content: ' ';
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 10px solid white;
  width: 0px;
  height: 0px;
  top: 1px;
  left: -11px;
}

.mapPointerBottom {
  content: ' ';
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid rgb(216, 215, 211);
  width: 0px;
  height: 0px;
  z-index: 9999;
}

.mapPointerBottom:after {
  content: ' ';
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 10px solid white;
  width: 0px;
  height: 0px;
  top: -13px;
  left: -11px;
}

.MapOverlay h3 {
  font-family: "BrixSansLight";
  color: #5f5f5f;
  font-size: 1rem;
  text-align: left;
  margin: 0px 0px 3px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.MapOverlay p {
  font-family: "BrixSansLight";
  color: #5f5f5f;
  font-size: 0.625rem;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.selectedOperator {
  background-color: rgba(127, 127, 127, 0.15) !important;
}

.checkoutPage .globalHeader,
.confirmationPage .globalHeader {
  border-bottom: 0.72px solid rgb(216, 215, 211, 0.5);
}

@media (max-width: 767px) {
  .searchHome .globalHeader .cakeLogo {
    display: none;
  }
  .searchHome {
    background-image: url("../../../assets/splash-bg@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .searchResults .globalHeader .cakeLogo {
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -52px;
  }
  .switchViewIcon {
    display: inline;
    padding-left: 10px;
    top: 6px;
    position: relative;
  }
  .searchResultButton {
    display: none;
  }
  .autocomplete-dropdown-container {
    border: 1px solid rgb(209, 204, 198, 0.5);
    border-top-width: 0px;
    width: 100%;
  }
  .searchResults .location-search-input,
  .searchResults .autocomplete-dropdown-container {
    width: calc(100vw - 75px);
  }
  .searchResults .searchInputWrapper {
    width: 93%;
  }
  .userDetailsPanelOn .appContainer {
    right: 220px;
    overflow: visible !important;
  }
  .userDetailsPanelOn .searchHome::after,
  .userDetailsPanelOn .searchResults::after {
    content: ' ';
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 515px) {
  .searchResults .searchInputWrapper {
    width: 90%;
  }
}