.Select {
  display: flex;
  flex: 1;
  font-family: BrixSansLight;
}

.Select-control {
  height: 42px;
  border-radius: 5px;
  border-color: #d1ccc7 !important;
}

.Select-value,
.Select-placeholder {
  font-size: 0.875rem;
  line-height: 38px !important;
}

.Select-placeholder {
  color: #a8a7a4;
  font-family: 'BrixSansLightItalic';
}

.is-focused * {
  box-shadow: none !important;
}

.Select-control:hover {
  box-shadow: none;
}

.Select-option:last-child {
  border-radius: 0 !important;
  border: none;
}

.Select-option.is-selected {
  font-weight: bold;
  background-color: transparent;
}

.Select-option.is-focused {
  background-color: transparent;
}

.Select-option:hover {
  background-color: #F0EFEB;
}


/* Session Select */

.Select.session-select {
  height: 3rem;
  font-family: BrixSansMedium;
  max-width: 370px;
  margin-left: auto;
}

.session-select .Select-value,
.session-select .Select-placeholder {
  padding: 0 !important;
  font-size: 1.5rem;
  line-height: inherit !important;
}

.session-select .Select-value h5 {
  text-align: right;
}

.session-select .Select-option {
  border-bottom: 1px solid #ECECEC;
  padding: 1rem 0.625rem;
}

.session-select .Select-control {
  height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent !important;
}

.session-select .Select-menu-outer {
  margin-top: 0.5rem;
  border-radius: 0;
  max-height: 100vh !important;
}

.session-select .Select-menu {
  max-height: 100vh !important;
}

@media (max-width: 767px) {
  .Select.session-select {
    margin-left: inherit;
  }
  .session-select .Select-menu-outer {
    max-height: auto !important;
    min-height: 30px;
    height: auto !important;
    border: 0px;
  }
  .Select-option.is-selected {
    background-color: #fff;
  }
  .session-select .Select-menu {
    max-height: 100% !important;
    border: 1px solid #d1ccc7;
  }

  .session-select .Select-value h5 {
    text-align: left;
  }
}

.Select-menu-outer {
  left: 0 !important;
}


/* custom dropdown Select */

.custom-select .Select-value,
.custom-select .Select-placeholder {
  padding: 0 !important;
  font-size: 1em;
  font-family: 'BrixSansRegular';
}

.custom-select .Select-menu {
  max-height: 100vh !important;
}

.custom-select .Select-control {
  border-radius: 5px !important;
}

.custom-select .Select-option {
  border-bottom: 1px solid #ECECEC;
}

.custom-select .add-item-wrapper span {
  color: #EE7E04;
  font-family: 'BrixSansLight';
  padding: 10px;
}

.custom-select .Select-control {
  border-radius: unset;
}

.custom-select .Select-menu-outer {
  margin-top: -3px;
  border-radius: 0;
  max-height: 100vh !important;
  border-bottom: none;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
}

.selectFocused .Select-control {
  border: 2px solid #EE7E04 !important;
}

.selectFocusedError .Select-control {
  border: 2px solid #de2323 !important;
}

.selectError .Select-control {
  border: 1px solid #de2323 !important;
}


/* User Profile menu */

.profileMenu .Select-value,
.profileMenu .Select-placeholder {
  padding: 0 !important;
  font-family: 'BrixSansRegular';
}

.profileMenu .Select-menu {
  max-height: 100vh !important;
}

.profileMenu .Select-control {
  border-radius: 5px !important;
}

.profileMenu .Select-option {
  border-bottom: 1px solid #ECECEC;
  padding: 1.081rem 0.633rem;
  color: #5f5f5f !important;
}

.profileMenu .Select-control {
  /* border-radius: unset; */
}

.profileMenu .Select-menu-outer {
  /* border-radius: 0; */
  max-height: 100vh !important;
  font-size: 0.8rem;
  border-bottom: none;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.07) !important;
}
