    html,
    body,
    #root,
    #content,
    #content>div {
      height: 100%;
      width: 100%;
    }

    input,
    button,
    a,
    label,
    .itemCountCol,
    .minusIcon,
    .plusIcon,
    .productBack {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a {
      text-decoration: none;
    }

     ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      font-size: 0.875rem;
      color: #a8a7a4;
      font-family: 'BrixSansLightItalic';
    }

     :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-size: 0.875rem;
      color: #a8a7a4;
      font-family: 'BrixSansLightItalic';
    }

     ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-size: 0.875rem;
      color: #a8a7a4;
      font-family: 'BrixSansLightItalic';
    }

     :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-size: 0.875rem;
      color: #a8a7a4;
      font-family: 'BrixSansLightItalic';
    }

     ::-ms-input-placeholder {
      /* Microsoft Edge */
      font-size: 0.875rem;
      color: #a8a7a4;
      font-family: 'BrixSansLightItalic';
    }
    /* Radio Button Component Styling */

    .radioButtonWrapper input[type="radio"] {
      opacity: 0;
    }

    .radioButtonWrapper label {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      word-break: break-word;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .radioButtonWrapper label::before,
    .radioButtonWrapper label::after {
      position: absolute;
      content: "";
      display: inline-block;
      top: -1px;
    }

    .radioButtonWrapper label::before {
      height: 18px;
      width: 18px;
      border: 1px solid #000;
      border-radius: 10px;
      top: -0.16rem;
      left: 0px;
      background: #fff;
      content: '';
      border: 1px solid #d1ccc7;
      border-radius: 50%;
      margin-right: 12px;
      -moz-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      -o-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      -webkit-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
    }

    .radioButtonWrapper label::after {
      background: #fff;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: 0.05rem;
      left: 4px;
    }

    .radioButtonWrapper input[type="radio"]+label::after {
      content: none;
    }

    .radioButtonWrapper input[type="radio"]:checked+label::before {
      border: 1px solid #f2700f;
      background: #f2700f;
    }

    .radioButtonWrapper input[type="radio"]:checked+label::after {
      content: " ";
      background: #fff;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: 0.09rem;
    }

    .radioButtonWrapper input[type="radio"]:disabled+label {
      opacity: 0.3;
      user-select: none;
    }

    .radioButtonWrapper input[type="radio"]:focus+label::before {
      outline: none
    }
    /* End of radio button styling */
    /* Checkbox Component Styling */

    .checkBoxWrapper input[type="checkbox"] {
      opacity: 0;
      position: fixed;
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0;
      padding: 0;
    }

    .checkBoxWrapper label {
      position: relative;
      display: inline-block;
      padding-left: 30px;
      word-break: break-word;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .checkBoxWrapper label::before,
    .checkBoxWrapper label::after {
      position: absolute;
      content: "";
      display: inline-block;
      top: -1px;
    }

    .checkBoxWrapper label::before {
      background: #fff;
      content: '';
      display: inline-flex;
      border: 1px solid #d1ccc7;
      border-radius: 3px;
      width: 18px;
      height: 18px;
      margin-right: 12px;
      -moz-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      -o-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      -webkit-transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      transition: all 0.4s cubic-bezier(0.49, 0.05, 0.32, 1.04);
      flex: 0 0 auto;
      left: 0px;
    }

    .checkBoxWrapper label::after {
      background: #fff;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      top: 3px;
      left: 4px;
    }

    .checkBoxWrapper input[type="checkbox"]+label::after {
      content: none;
    }

    .checkBoxWrapper input[type="checkbox"]:checked+label::before {
      border: 1px solid #f2700f;
      background: #f2700f;
    }

    .checkBoxWrapper input[type="checkbox"]:checked+label::after {
      content: " ";
      position: absolute;
      width: 4px;
      height: 10px;
      top: 2px;
      left: 7px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg);
      background: none;
      border-radius: 0px;
    }

    .checkBoxWrapper input[type="checkbox"]:disabled+label {
      opacity: 0.3;
      user-select: none;
    }

    .checkBoxWrapper input[type="checkbox"]:focus+label::before {
      outline: none
    }
    /* End of Checkbox styling */

    .showOnMobile {
      display: none;
    }

    .infoIcon {
      width: 30px;
      text-align: right;
      margin-top: -62px;
      margin-right: 17px;
      float: right;
    }

    .checkoutPage .mobileOrderHeader,
    .checkoutPage .mobileViewOrderHeader,
    .menuPage .mobileOrderHeader,
    .menuPage .mobileViewOrderHeader,
    .receiptPage .mobileOrderHeader,
    .receiptPage .mobileViewOrderHeader {
      display: none;
      align-items: center;
    }

    .checkoutPage .headerTitle,
    .confirmationPage .headerTitle {
      margin-bottom: 5px;
    }

    .mobileUserIcon {
      position: relative;
      z-index: 1;
    }

    .logoutLink .mobileUserIcon {
      vertical-align: middle;
    }

    .logoutLink .loggedInUserName {
      vertical-align: super;
      color: #A8A7A4;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .logoutLink:hover .loggedInUserName {
      color: #fff;
    }

    .mobileLogout {
      position: absolute;
      right: 12px;
      top: 8px;
    }

    .signInText {
      padding-top: 18px;
      padding-right: 20px;
      display: block;
      text-align: right;
      text-transform: uppercase;
      color: #A8A7A4;
    }

    .checkoutPage .checkBoxWrapper label::before {
      top: 1px;
    }

    .deliveryAddressInput input {
      color: #5f5f5f;
    }

    .phoneIcon {
      fill: #5f5f5f;
    }

    .menuMapContainer .addressRow {
      display: none;
    }

    .menuPage .headerRow,
    .checkoutPage .headerRow {
      margin-bottom: 30px;
    }

    .menuItem.evenItemRow {
      padding-left: 20px;
    }

    .menuItem.evenItemRow .menuColumnDivider {
      width: 30px;
      height: 100%;
      background-color: #fff;
      position: relative;
      left: -40px;
    }

    .menuItem.oddItemRow {
      padding-right: 20px;
    }

    .menuItem.oddItemRow .menuColumnDivider {
      width: 30px;
      height: 100%;
      background-color: #fff;
      position: relative;
      right: -30px;
      float: right;
    }

    .subCategory {
      padding-left: 20px !important;
      padding-right: 20px !important;
      margin-bottom: 0px !important;
      margin-top: 34px;
      position: relative;
    }

    .subCategory .menuColumnDivider {
      display: none;
    }

    @media (max-width: 767px) {
      body {
        overflow-x: hidden;
      }
      .deliveryAddressInput input,
      .location-search-input,
      .textInput input,
      select:focus,
      textarea {
        font-size: 1rem !important;
      }
      .menuPage,
      .checkoutPage,
      .receiptPage {
        width: 100% !important;
      }
      .checkoutPage .mobileUserIcon,
      .checkoutPage .infoIcon,
      .confirmationPage .mobileUserIcon,
      .confirmationPage .infoIcon,
      .checkoutPage .sessionContainer,
      .receiptPage .sessionContainer,
      .receiptPage .orderTypeContainer {
        display: none !important;
      }
      .checkoutPage .headerTitle {
        margin-top: 10px;
      }
      .checkoutPage .backArrowIcon,
      .checkoutPage .backArrowIcon,
      .checkoutPage .backArrowIcon {
        fill: #A8A7A4;
      }
      .checkoutPage .backIconButton {
        position: absolute;
        margin-top: -58px;
        padding-left: 21px;
        padding-right: 21px;
      }
      .confirmationPage .headerTitle {
        margin-top: 20px;
      }
      .confirmationPage .backArrowIcon {
        fill: #A8A7A4;
      }
      .confirmationPage .backIconButton {
        position: absolute;
        margin-top: -58px;
        margin-left: 21px;
      }
      .hideFromMobile {
        display: none !important;
      }
      .menuPage .mobileOrderHeader,
      .receiptPage .mobileOrderHeader {
        background-color: #666;
        display: block;
      }
      .menuPage .mobileViewOrderHeader,
      .receiptPage .mobileViewOrderHeader {
        background-color: #EE7E04;
        display: block;
      }
      .showOnMobile {
        display: block !important;
      }
      .menuPage .mobileCartCollapsed,
      .receiptPage .mobileCartCollapsed {
        height: 60px;
        overflow: hidden;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 3;
        padding: 0px;
        margin: 0px;
      }
      .restaurantDetailVisible .menuPage .mobileCartCollapsed,
      .restaurantDetailVisible .receiptPage .mobileCartCollapsed {
        display: none;
      }
      .menuPage .mobileCartExpanded,
      .receiptPage .mobileCartExpanded {
        position: absolute;
        width: 100%;
        background-color: #fff;
        top: 54px;
        height: calc(100% - 54px);
        background-color: #f2f2f2;
        right: 8px;
        padding-top: 75px;
        overflow-y: auto;
        overflow-x: hidden;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      .userDetailsPanelOn .appNotificationBar {
        margin-left: 220px;
        width: 100%;
      }
      .checkoutPage .mobileCartCollapsed {
        padding-left: 20px;
        padding-right: 20px;
      }
      .checkoutPage .mobileViewOrderHeader {
        display: none;
      }
      .checkoutPage .mobileOrderHeader {
        background-color: #666;
        display: block;
        font-family: "DuplicateSlabThin";
        color: #fff;
        padding: 10px;
      }
      .checkoutPage .restaurantDetailContainer {
        width: 100%;
        max-width: 100%;
      }
      .mobileCartVisible {
        overflow-y: hidden;
      }
      .mobileCartVisible .menuContent,
      .restaurantDetailVisible .menuContent {
        display: none;
      }
      .mobileCartCollapsed .orderTypeWrapper {
        display: none;
      }
      .plusIcon,
      .minusIcon {
        touch-action: none;
      }
      .mobileCartVisible .appContainer {
        overflow-y: hidden
      }
      .restaurantDetailVisible .appContainer {
        overflow-y: auto;
      }
      .menuItem.evenItemRow {
        padding-left: 8px;
      }
      .menuItem.oddItemRow {
        padding-right: 8px;
      }
      .menuItem.evenItemRow .menuColumnDivider {
        display: none;
      }
      .menuItem.oddItemRow .menuColumnDivider {
        display: none;
      }
      .mobileUserIcon {
        padding-top: 14px;
      }
    }

    @media (max-width: 374px) {
      .plusIcon,
      .minusIcon {
        padding-left: 0.1rem !important;
        padding-right: 0.1rem !important;
      }
    }
    /* Layout Grid Issue Fix */

    @media (min-width: 768px) and (max-width: 800px) {
      .menuPage .globalHeader,
      .menuPage .menuRow,
      .receiptPage .globalHeader,
      .receiptPage .menuRow,
      .checkoutPage .globalHeader,
      .checkoutPage .checkoutRow {
        margin-right: 10px;
      }
    }

    @media (min-width: 1024px) and (max-width: 1060px) {
      .menuPage .globalHeader,
      .menuPage .menuRow,
      .receiptPage .globalHeader,
      .receiptPage .menuRow,
      .checkoutPage .globalHeader,
      .checkoutPage .checkoutRow {
        margin-right: 10px;
      }
      .menuPage .headerRow,
      .receiptPage .headerRow {
        padding-left: 10px;
      }
    }

    @media (min-width: 1200px) and (max-width: 1235px) {
      .menuPage .menuRow,
      .menuPage .headerRow,
      .receiptPage .headerRow,
      .receiptPage .menuRow,
      .checkoutPage .checkoutRow,
      .checkoutPage .headerRow {
        margin-right: 10px;
      }
    }

    .restaurantDetailContainer.headerWithLogo {
      margin-left: 10px;
    }
    /* @media (min-width: 768px) and (max-width: 992px) {
      .cartVisible .restaurantDetailContainer {
        max-width: calc(100vw - 72vw) !important;
      }
    }

    @media (min-width: 992px) and (max-width: 1024px) {
      .cartVisible .restaurantDetailContainer {
        max-width: calc(100vw - 79vw) !important;
      }
    }

    @media (min-width: 1024px) and (max-width: 1200px) {
      .cartVisible .restaurantDetailContainer {
        max-width: calc(100vw - 65vw) !important;
      }
    } */

    .userDetailsPanel {
      background-color: #636363;
      position: fixed;
      width: 220px;
      height: 100vh;
      right: 0px;
      display: none;
      top: 0px;
      padding-right: 30px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.5);
      box-shadow: inset -5px 0px 5px -2px rgba(0, 0, 0, 0.5);
    }
    /* User details panel for mobile*/

    @media (max-width: 767px) {
      .userDetailsPanelOn .userDetailsPanel {
        display: block;
      }
      .userDetailsPanelOn .menuPage,
      .userDetailsPanelOn .receiptPage {
        position: relative;
        height: 100vh;
        overflow-y: hidden;
      }
      body.userDetailsPanelOn {
        overflow: hidden;
      }
      .userDetailsPanelOn .menuPage::after,
      .userDetailsPanelOn .receiptPage::after {
        content: ' ';
        position: absolute;
        z-index: 3;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      .userDetailsPanelOn .menuPage .mobileCartCollapsed,
      .userDetailsPanelOn .receiptPage .mobileCartCollapsed {
        right: 220px;
      }
      .restaurantDetailContainer.headerWithLogo {
        margin-left: 0px;
      }
    }

    .confirmation-content {
      min-height: 632px;
    }

    @media (max-width: 767px) {
      .confirmation-content {
        min-height: 396px;
      }
    }
    /* Loader Styles */

    .loader,
    .loader:before,
    .loader:after {
      border-radius: 50%;
    }

    .loader {
      color: #ee7f09;
      font-size: 0.688rem;
      text-indent: -99999em;
      margin: 55px auto;
      position: relative;
      width: 10em;
      height: 10em;
      box-shadow: inset 0 0 0 1em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }

    .loader:before,
    .loader:after {
      position: absolute;
      content: '';
    }

    .loader:before {
      width: 5.2em;
      height: 10.2em;
      background: #fff;
      border-radius: 10.2em 7px 0 10.2em;
      top: -0.1em;
      left: -0.1em;
      -webkit-transform-origin: 5.2em 5.1em;
      transform-origin: 5.2em 5.1em;
      -webkit-animation: load2 2s infinite ease 1.5s;
      animation: load2 2s infinite ease 1.5s;
    }

    .loader:after {
      width: 5.2em;
      height: 10.2em;
      background: #fff;
      border-radius: 0 10.2em 10.2em 0;
      top: -0.1em;
      left: 5.1em;
      -webkit-transform-origin: 0px 5.1em;
      transform-origin: 0px 5.1em;
      -webkit-animation: load2 2s infinite ease;
      animation: load2 2s infinite ease;
    }
    /* Menu Page */

    .restaurantDetailWrapper {
      margin-top: -37px;
    }

    .menuPage .BackIcon,
    .receiptPage .BackIcon,
    .searchHome .BackIcon,
    .searchResults .BackIcon {
      display: none;
      position: relative;
      z-index: 1;
    }
    /* Menu Page Mobile */

    @media (max-width: 2000px) {
      .menuPage .restaurantDetailContainer,
      .receiptPage .restaurantDetailContainer {
        max-width: 500px;
      }
    }

    @media (max-width: 1200px) {
      .menuPage .restaurantDetailContainer,
      .receiptPage .restaurantDetailContainer {
        max-width: 300px;
      }
    }

    @media (max-width: 767px) {
      .menuPage .cakeLogo,
      .receiptPage .cakeLogo {
        display: none;
      }
      .menuPage .restaurantDetailContainer,
      .receiptPage .restaurantDetailContainer {
        position: absolute;
        top: 1px;
        margin-left: -10px;
        max-width: 100%;
      }
      .menuPage .globalHeader,
      .receiptPage .globalHeader {
        border-bottom: 0.72px solid rgb(216, 215, 211, 0.5);
      }
      .menuPage .headerRow,
      .receiptPage .headerRow {
        border-bottom: 0.72px solid transparent;
        height: 60px;
        padding-left: 10px;
        margin-bottom: 12px;
      }
      .receiptPage .headerRow {
        height: 0px;
        margin-bottom: 0px;
        margin-top: -14px;
      }
      .menuPage .headerWrapper,
      .receiptPage .headerWrapper {
        height: 60px;
      }
      .menuPage .backArrowIcon,
      .receiptPage .backArrowIcon {
        fill: #A8A7A4;
      }
      .menuPage .mobileOrderHeader .CrossIcon,
      .receiptPage .mobileOrderHeader .CrossIcon {
        fill: #fff;
      }
      .menuPage .BackIcon,
      .receiptPage .BackIcon {
        display: block;
        margin-left: 10px;
      }
    }

    .orderTypeDelivery .Select-control {
      border: 0px;
      margin-top: -10px;
    }

    .orderTypeDelivery .Select-control .Select-value-label {
      text-align: right;
      padding-right: 15px;
    }

    .orderTypeDelivery .Select-control .Select-value-label span {
      display: block;
      padding-right: 15px;
    }

    .donationContainer {
      margin-top: -30px;
    }

    .customInput .textInput {
      height: 52px;
      width: 140px;
      border-radius: 0px;
      float: left;
      margin-bottom: 0px;
    }

    .customInput .textInput input {
      border: 0px;
      font-size: 2rem !important;
      border-radius: 0px;
      background-color: #F8F3F0;
      text-align: right;
      font-family: 'BrixSansRegular';
      padding-right: 0px;
    }

    .customInput .currencySign {
      float: left;
      height: 52px;
      font-size: 2rem;
      color: #6A6A6A;
      background-color: #F8F3F0;
      text-align: right;
      font-family: 'BrixSansRegular';
      padding-left: 5px;
      padding-top: 8px;
      box-sizing: border-box;
    }

    .customInput .decimalSign {
      float: left;
      height: 52px;
      color: #6A6A6A;
      font-size: 2rem;
      background-color: #F8F3F0;
      text-align: right;
      font-family: 'BrixSansRegular';
      box-sizing: border-box;
      padding-top: 10px;
      padding-right: 5px;
    }

    .termsBoldText {
      font-weight: bold;
    }
    /* Loader Animation */

    @-webkit-keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
