<!doctype html>
<html lang="en">

<head>
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="description" content="Order Food Online From Restaurants">
  <meta name="csrf-token" content="{{csrfToken}}">

  <!-- icons -->
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="/favicon/favicon.ico"/>
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png"/>
  <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png"/>

  <!--
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
  -->
  <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
  <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
  <script src="%PUBLIC_URL%/env-config.js"></script>
  <script async defer src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript" async defer
          src="https://maps.googleapis.com/maps/api/js?key=REACT_APP_GOOGLE_API_KEY&libraries=places"></script>
  <title>CAKE - Order Food Online From Restaurants</title>
</head>

<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>
</body>

</html>
